<app-button (click)="openModal()" class="add-transaction-button">
  <img src="icones/moeda.svg" alt="" class="coin-icon" />
  Adicionar transação
</app-button>

<app-modal [(open)]="openedModal">
  <ng-container modal-header class="modal-header">
    <img src="icones/moeda.svg" alt="" />
    <h2 class="text-xl">Adicionar transação</h2>
  </ng-container>

  <form class="form text-md" (ngSubmit)="onSubmit()" ngNativeValidate>
    <label class="label-group">
      Nome da transação
      <input
        type="text"
        name="name-transaction"
        class="input"
        [(ngModel)]="newTransactionForm.name"
      />
    </label>

    <fieldset class="group-type-transaction" required>
      <legend class="legend">Tipo da transação</legend>

      @for (type of transactionTypes | keyvalue; track type.key) {
      <label class="label-type-transaction">
        <input
          type="radio"
          name="type-transaction"
          [(ngModel)]="newTransactionForm.type"
          [value]="type.key"
          required
        />
        {{ type.value }}
      </label>
      }
    </fieldset>

    <label class="label-group">
      Valor
      <input
        class="input"
        type="number"
        name="value-transaction"
        [(ngModel)]="newTransactionForm.value"
        min="0.01"
        step="0.01"
        placeholder="R$ 500,00"
        required
      />
    </label>

    <label class="label-group">
      Data da transação
      <input
        class="input"
        type="date"
        name="data-transaction"
        [(ngModel)]="newTransactionForm.date"
        required
      />
    </label>

    <label class="label-group">
      Conta Bancária

      <select
        id="account"
        name="account-transaction"
        [(ngModel)]="newTransactionForm.account"
        class="input select-account-transaction"
        required
      >
        <option value="" selected disabled>Selecione a conta</option>

        @for (account of accounts(); track account.name) {
          <option [value]="account.name">{{ account.name }}</option>
        }
      </select>
    </label>

    <app-button class="add-transaction-button"> Adicionar </app-button>
  </form>
</app-modal>
