.dialog::backdrop {
  opacity: 0.5;
  background: var(--text);
}

.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border: 0;
  border-radius: 1.5rem;
  padding: 2.5rem;
  width: calc(100% - 2rem);
  max-width: 37.5rem;
  background: var(--general-bg);
  color: var(--text);
}

.close-modal {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
