@import url('reset.css');
@import url('typography.css');

:root {
  --general-bg: #1C1D21;
  --background-components: #2A2C34;
  --component-header: #33353F;
  --text: #F5F5F5;

  --violet-highlight: #7693FF;

  --featured-recipe: #D6FF62;
  --highlight-expense: #F87828;
}

html,
body {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  background: var(--general-bg);
  color: var(--text);
}

.item-between-partitions:not(:last-child)::after {
  content: '';
  background: var(--component-header);
  display: block;
  height: 0.0625rem;
  width: 100%;
  margin: 1rem 0;
}
