<app-card>
  <div card-title class="wrapper-title">
    <h2 class="text-lg">Minhas contas</h2>
  </div>

  <div class="card-body">
    <div class="accounts-and-button">
      <ul>
        @for (account of accounts(); track account.name) {
        <li class="item-between-partitions">
          <app-account [account]="account" />
        </li>
        } @empty {
        <li aria-hidden="true">Ainda não há accounts criadas.</li>
        }
      </ul>

      <app-add-accounts-button
        class="add-account-button"
        (createdAccount)="createdAccount.emit($event)"
        [accountsWithInitialBalance]="accounts()"
      />
    </div>
  </div>
</app-card>
