<section class="accounts-card">
  <div class="wrapper-title">
    <h2 class="text-lg">Minhas accounts</h2>
  </div>

  <div class="card-body">
    <div class="accounts-and-button">
      <ul>
        @for (account of accounts(); track account.name) {
          <li class="item-between-partitions">
            <app-account [account]="account" />
          </li>
        } @empty {
          <li aria-hidden="true">
            Ainda não há accounts criadas.
          </li>
        }
      </ul>

      <app-button class="botao-adicionar-account">
        <img src="icones/carteira.svg" alt="" class="icone-carteira">
        Adicionar account
      </app-button>
    </div>
  </div>
</section>
